# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Site build
site/
website/
docs/.vitepress/dist/
docs/.vitepress/cache/

# MkDocs cache
.cache/

# Environment
.env
.venv/
venv/

# macOS
.DS_Store

# Node.js
node_modules/

.vercel
